<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="avatar-sm flex-shrink-0">
                <span class="avatar-title bg-soft-primary text-primary rounded-2 fs-2">
                    <i class="{{icon}}"></i>
                </span>
            </div>
            <div class="flex-grow-1 ms-3">
                <p class="text-uppercase fw-medium text-muted mb-0">{{title}}</p>
                <h4 class="mb-0">{{value}}</h4>
            </div>
        </div>
    </div>
</div>