<div class="container-fluid">
  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary-subtle">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Bienvenue{{ user?.firstname ? ' ' + user.firstname : '' }} !</h5>
                <p>Heureux de vous revoir sur la plateforme.</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="avatar-md profile-user-wid mb-3 mx-auto">
                <img src="assets/images/users/avatar-1.jpg" alt="Avatar" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-16 text-truncate mb-0">{{ user?.firstname }} {{ user?.lastname }}</h5>
              <p class="text-muted mb-2">{{ user?.email }}</p>
              <button *ngIf="!editMode" class="btn btn-outline-primary btn-sm mt-2" (click)="enableEdit()">
                <i class="bx bx-edit"></i> Editer mon profil
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Informations personnelles</h4>
          <ng-container *ngIf="user && profileForm; else loading">
            <form *ngIf="editMode" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label">Prénom</label>
                  <input class="form-control" formControlName="firstname" placeholder="Prénom">
                </div>
                <div class="col-md-6">
                  <label class="form-label">Nom</label>
                  <input class="form-control" formControlName="lastname" placeholder="Nom">
                </div>
                <div class="col-md-6">
                  <label class="form-label">Téléphone</label>
                  <input class="form-control" formControlName="phoneNumber" placeholder="Téléphone">
                </div>
                <div class="col-md-6">
                  <label class="form-label">Date de naissance</label>
                  <input class="form-control" type="date" formControlName="dateOfBirth">
                </div>
                <div class="col-md-6">
                  <label class="form-label">Sexe</label>
                  <select class="form-select" formControlName="sex">
                    <option value="M">Homme</option>
                    <option value="F">Femme</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Email</label>
                  <input class="form-control" formControlName="email" disabled>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Numéro CNI</label>
                  <input class="form-control" formControlName="nationalIdNumber" disabled>
                </div>
              </div>
              <div class="mt-4">
                <button class="btn btn-success me-2" type="submit" [disabled]="profileForm.invalid">
                  <i class="bx bx-save"></i> Enregistrer
                </button>
                <button class="btn btn-secondary" type="button" (click)="cancelEdit()">
                  <i class="bx bx-x"></i> Annuler
                </button>
              </div>
            </form>
            <div *ngIf="!editMode">
              <table class="table table-borderless mb-0">
                <tbody>
                  <tr>
                    <th scope="row">Nom complet :</th>
                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Téléphone :</th>
                    <td>{{ user.phoneNumber }}</td>
                  </tr>
                  <tr>
                    <th scope="row">E-mail :</th>
                    <td>{{ user.email }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Date de naissance :</th>
                    <td>{{ user.dateOfBirth | date:'longDate' }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Sexe :</th>
                    <td>{{ user.sex === 'M' ? 'Homme' : (user.sex === 'F' ? 'Femme' : user.sex) }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Numéro CNI :</th>
                    <td>{{ user.nationalIdNumber }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-template #loading>
            <div class="text-center py-5">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Chargement...</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
