<div class="container-fluid">
  <!-- Page Title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="page-title-left">
          <h4 class="mb-0">Tableau de bord du promoteur</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Statistiques -->
  <div class="row mx-2 mt-3">
    <div class="col-md-3" *ngFor="let stat of stats">
      <div class="card text-center">
        <div class="card-body">
          <i [class]="stat.icon + ' bx-lg text-' + stat.color"></i>
          <h3 class="mt-2">{{ stat.value }}</h3>
          <p class="mb-0">{{ stat.title }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Infos promoteur -->
  <div class="row mx-2 mt-3" *ngIf="promoter">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5>Mes informations</h5>
          <table class="table table-bordered">
            <tr><th>Nom</th><td>{{ promoter.lastname }}</td></tr>
            <tr><th>Prénom</th><td>{{ promoter.firstname }}</td></tr>
            <tr><th>Email</th><td>{{ promoter.email }}</td></tr>
            <tr><th>Téléphone</th><td>{{ promoter.phoneNumber }}</td></tr>
            <tr><th>Date de naissance</th><td>{{ promoter.dateOfBirth }}</td></tr>
            <tr><th>Numéro CNI</th><td>{{ promoter.nationalIdNumber }}</td></tr>
            <tr><th>Compte actif</th><td><span [ngClass]="{'text-success': promoter.enabled, 'text-danger': !promoter.enabled}">{{ promoter.enabled ? 'Oui' : 'Non' }}</span></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Activités récentes -->
  <div class="row mx-2 mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5>Activités récentes</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let act of recentActivities">
              <i [class]="act.icon + ' text-' + act.color"></i>
              <strong>{{ act.title }}</strong> - {{ act.description }} <span class="float-end text-muted">{{ act.time }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Événements à venir -->
  <div class="row mx-2 mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5>Événements à venir</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let event of upcomingEvents">
              <i [class]="getEventIcon(event.type)"></i>
              {{ event.title }} - <span class="text-muted">{{ formatDate(event.date) }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>